{% extends 'base.html' %}
{% block content %}
<head>
     <style>
          p{
               font-size: 20px;
               font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          }
     </style>
          <title>AboutUs</title>
</head>
<body style="background-color: aqua;">
     <img src="https://st2.depositphotos.com/3591429/5997/i/600/depositphotos_59977559-stock-photo-hands-holding-word-about-us.jpg" height="400px" width="1519" alt="img">
<p>LIVEWIRE – A Division of CADD Centre Training Services Pvt Ltd, is an approved<br> Skill Development Partner of
     National Skill Development Corporation (NSDC).<br> LIVEWIRE promotes a unique combination of technologies that are specific to 
     IT,<br> Computer science, Electronics & Electrical departments. We deal with Emerging<br> technologies like Data science, Machine
     Learning, IoT, Artificial Intelligence,<br> Blockchain, Full Stack Developer, Cyber security, Automotive Embedded<br> system and many more.
      LIVEWIRE is present in more than 100<br> locations in India and over 7 countries.</p>
<p>LIVEWIRE credential includes its affiliation like NSDC, STED Council, MSME,<br> ISO (9001:2015 & 29990:2010),
     NIELIT, AXELOS, Oracle, CompTIA, Blockchain<br> Council etc. LIVEWIRE works closely with more than 1000 colleges in India 
     as a<br> technology partner in equipping students beyond their academics and also with<br> few corporate clients for their 
     training requirements.</p>
<p>The curricula are prepared with inputs from the product companies and industry experts.<br> The training is
     offered by instructors who are trained by the Product developers and<br> industry experts. Our training centre boast of
      high-end hardware and sophisticated technology<br> labs that are modelled on real world R&D units of industries.</p>
</body>     

{% endblock %}